# Load ConflictWiki Data

In [1]:
import os, itertools
import pandas as pd

/var/folders/tb/fh7d_tg94q9_80kfqt4p54rc0000gn/T/ipykernel_5767/1430412939.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Load Data

In [2]:
ROOT = os.path.abspath(os.getcwd())

map_path = ROOT + "/conflict_entity_map.json"
entity_path = ROOT + "/entity.json"
conflict_path = ROOT + "/conflict.json"

map_df = pd.read_json(map_path, lines=True)
entity_df = pd.read_json(entity_path, lines=True)
conflict_df = pd.read_json(conflict_path, lines=True)

print(f"n conflicts: {len(conflict_df)}, n entities: {len(entity_df)}")

n conflicts: 1145, n entities: 1245

### Search for any mention of Mali in the Conflicts

In [7]:
# Define a search function
def search_string(s, search):
    return search in str(s).lower()

# Search for the string 'al' in all columns
mask = conflict_df.apply(lambda x: x.map(lambda s: search_string(s, 'usa')))

# Filter the DataFrame based on the mask
filtered_df = conflict_df.loc[mask.any(axis=1)]
filtered_df

,conflict_id,conflict_name,url,n_belligerents,n_entities,place,date,date_start,date_end,status,casualties,casualties_num,casualties_sum,strength,strength_num,strength_sum,commander,result
2,201936,2003 invasion of Iraq,https://en.wikipedia.org/wiki/2003_invasion_of...,2,17,Iraq,20 March - 1 May 2003,2021-03-20,2003-05-01,None,{'0': 'Coalition: 214 killed606 wounded (U.S.)...,"{'0': [214.0, 606.0, 24.0, 238.0, 1000.0], '1'...","{'0': 2082.0, '1': 172996.0, '2': 14769.0}","{'0': ': 192,000 personnel: 45,000 troops : 2,...","{'0': [192000.0, 45000.0, 2000.0, 194.0, 70000...","{'0': 619628.0, '1': 4015761.0}","{'0': ['Babaker Shawkat B. Zebari', 'Iraqi Kur...",Coalition operational success. Ba'athist Iraq ...
3,207031,Battle of Baghdad (2003),https://en.wikipedia.org/wiki/Battle_of_Baghda...,2,3,"Baghdad, Ba'athist Iraq",3-12 April 2003,2003-04-03,2003-04-12,None,"{'0': '1,700–2,120 killed (independent estimat...","{'0': [1700.0, 2120.0, 2320.0], '1': [34.0, 1....","{'0': 6140.0, '1': 54.0}","{'0': '45,000', '1': '30,000'}","{'0': [45000.0], '1': [30000.0]}","{'0': 45000.0, '1': 30000.0}","{'0': ['Saddam Hussein', 'Sayf al-Din al-Rawi'...",Decisive Coalition victory. Fall of Ba'ath Par...
4,312905,Lebanese Civil War,https://en.wikipedia.org/wiki/Lebanese_Civil_War,4,28,Lebanon,13 April 1975 - 13 October 1990 Battle of Sido...,1975-04-13,1990-10-13,None,{},{},{},"{'0': '', '1': '', '2': ' 25,000 troops (1976)...","{'2': [25000.0, 1976.0], '3': [1200.0, 1000.0,...","{'2': 26976.0, '3': 4600.0}","{'0': ['Antoine Lahad', 'Etienne Saqr', 'Menac...",Taif Agreement Christian 55:45 ascendancy repl...
16,1138374,Second Battle of Fallujah,https://en.wikipedia.org/wiki/Second_Battle_of...,2,9,"Fallujah, Iraq",7 November - 23 December 2004,2021-11-07,2004-12-23,None,{'0': ' 95 killed 4 killedTotal: 107–110 kille...,"{'0': [95.0, 4.0, 107.0, 110.0, 613.0], '1': [...","{'0': 929.0, '1': 4200.0, '2': 2051.0}","{'0': ' 10,500 troops 2,000 Iraqi security fo...","{'0': [10500.0, 2000.0, 850.0, 13350.0], '1': ...","{'0': 26700.0, '1': 7700.0}","{'0': ['Keith Stalder', 'Richard F. Natonski',...",Coalition victory
26,1606497,Casamance conflict,https://en.wikipedia.org/wiki/Casamance_conflict,2,6,"Casamance, Senegal",1982 - 1 May 2014 main conflic2015 - present l...,1982-07-05,2014-05-01,Unilateral ceasefire; ongoing low-level violence.,"{'0': '', '1': '', '2': '5,000 killed in total...","{'2': [5000.0, 1982.0, 60000.0]}",{'2': 66982.0},{'0': ' Armed Forces of Senegal: Thousands (20...,"{'0': [2012.0], '1': [180.0, 2006.0]}","{'0': 2012.0, '1': 2186.0}","{'0': ['Senegal', 'Abdou Diouf', 'Macky Sall',...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,60374252,Operation Kitona,https://en.wikipedia.org/wiki/Operation_Kitona,2,8,Kongo Central and Kinshasa Provinces in Wester...,4 August 1998 - 30 August 1998,1998-08-04,1998-08-30,,"{'0': 'Unknown (Likely in the thousands)', '1'...",{},{},"{'0': '3,000+ Rwandan and Ugandan Regular 15,0...","{'0': [3000.0, 15000.0], '1': [800.0, 2500.0]}","{'0': 18000.0, '1': 3300.0}","{'0': ['Rwanda', 'James Kazini', 'Uganda', 'Ja...",Congolese victory
1064,61341822,2019–2021 Persian Gulf crisis,https://en.wikipedia.org/wiki/2019–2021_Persia...,2,6,,5 May 2019 - present,2019-05-05,2021-07-05,{{Collapsible list titlestyle,{'0': '{{Collapsible list titlestyle title tit...,"{'0': [2.0], '1': [3.0]}","{'0': 2.0, '1': 3.0}","{'0': '{{Collapsible list titlestyle title 50,...","{'0': [50000.0], '1': [1.0]}","{'0': 50000.0, '1': 1.0}","{'0': ['Mohammed bin Salman', 'Linda Reynolds'...",None
1070,61913712,Operation Victory from God,https://en.wikipedia.org/wiki/Operation_Victor...,2,5,Saudi Arabia-Yemen border; Yemen-Saudi Arabia ...,25 August - late September 2019,2021-08-25,2019-09-01,,"{'0': 'unknown', '1': 'According to the Houthi...","{'1': [500.0, 2000.0, 15.0]}",{'1': 2515.0},"{'0': 'Several infantry, armored, and missile ...",{'1': [3.0]},{'1': 3.0},"{'0': [], '1': []}",Houthi victory
1081,62639473,Timeline of the American-led intervention in t...,https://en.wikipedia.org/wiki/Timeline_of_the_...,3,23,Syria,22 September 2014 - present,2014-09-22,2021-07-05,None,{'0': ' United States:8 servicemen killed (5 n...,"{'0': [8.0, 5.0, 2.0, 1.0, 1.0, 2.0, 1.0, 1.0,...","{'0': 24.0, '1': 9520.0, '2': 406.0, '3': 4297...",{'0': 'Coalition forces: Coalition forces-air ...,"{'1': [100000.0, 3.0, 2.0, 31000.0, 2017.0, 7....","{'1': 193197.0, '2': 180000.0}","{'0': ['Bahrain', 'Germany', 'Khalifa bin Zaye...","Ongoing operations. 19,786 U.S. and allied air..."
1121,65548110,December 2007 Turkish incursion into northern ...,https://en.wikipedia.org/wiki/December_2007_Tu...,2,2,northern Iraq,"December 16, 2007 - December 26, 2007",2007-12-16,2007-12-26,None,"{'0': 'None', '1': '200 killed, thousands woun...","{'1': [200.0], '2': [1800.0, 10.0, 1.0]}","{'1': 200.0, '2': 1811.0}","{'0': '52 war planes', '1': '2.320-2.640 soldi...","{'0': [52.0], '1': [2320.0]}","{'0': 52.0, '1': 2320.0}","{'0': [], '1': []}",Turkish victory

### Search for any mention of Mali in the Entities

In [4]:
def search_string(s, search):
    return search in str(s).lower()
mask = entity_df.apply(lambda x: x.map(lambda s: search_string(s, 'usa')))
filtered_df = entity_df.loc[mask.any(axis=1)]
filtered_df

,entity_id,entity_name,url,num_conflicts,iso,language,ideology,religion
235,184764,The Jerusalem Post,https://en.wikipedia.org/wiki/The_Jerusalem_Post,1,[],"[French, English language, French language, En...",[],[]
375,21373,Niger,https://en.wikipedia.org/wiki/Niger,19,XO,"[French, French language, National language, S...",[],[]
452,37278116,Mujahideen Shura Council in the Environs of Je...,https://en.wikipedia.org/wiki/Mujahideen_Shura...,1,[],[],[],[]
542,21383,Nigeria,https://en.wikipedia.org/wiki/Nigeria,13,NG,"[English language, English, National languages...",[],[]
1034,41487145,Organization for the Islamic Revolution in the...,https://en.wikipedia.org/wiki/Organization_for...,1,[],[],"[Religious nationalism, Conservatism, Mohammad...",[Shia Islam]
1142,402587,Husayn ibn Ali,https://en.wikipedia.org/wiki/Husayn_ibn_Ali,1,[],[],[],[]
1166,56694430,Al-Ashtar Brigades,https://en.wikipedia.org/wiki/Al-Ashtar_Brigades,1,[],[],"[Mohammad al-Husayni al-Shirazi, Shirazi]",[]

### Look into a specific conflict (Mali War) <br>
https://en.wikipedia.org/wiki/Mali_War

In [5]:
conflict_id = 36856978 
conflict_df[conflict_df.conflict_id == conflict_id]

,conflict_id,conflict_name,url,n_belligerents,n_entities,place,date,date_start,date_end,status,casualties,casualties_num,casualties_sum,strength,strength_num,strength_sum,commander,result
482,36856978,Mali War,https://en.wikipedia.org/wiki/Mali_War,3,17,Northern Mali,8 March 2004 ; access-date=28 January 2013}} ...,2004-03-08,2013-01-01,None,"{'0': ' 181+ killed, 400 captured Total:1,000–...","{'0': [181.0, 400.0, 1000.0, 1500.0, 417.0, 10...","{'0': 3725.0, '1': 2180.0, '2': 1940.0}","{'0': ' 6,000–7,000(pre-war: ~12,150) 3,000 ...","{'0': [6000.0, 7000.0, 12150.0, 3000.0, 2000.0...","{'0': 64075.0, '1': 3000.0, '2': 4200.0}","{'0': ['Brigade General', 'Dioncounda Traor', ...",List of ongoing military conflicts The Tuareg ...

In [6]:
belligerent_groups = map_df[map_df.conflict_id == conflict_id]['entity_ids'].to_list()[0]
involved_entities = list(itertools.chain.from_iterable(belligerent_groups))

for i, entities in enumerate(belligerent_groups):
    entity_list = entity_df[entity_df['entity_id'].isin(entities)].entity_name.to_list()
    print(f'belligerents {i}: {entity_list}')

belligerents 0: ['France', 'Mali', 'Politics', 'Malian Armed Forces', 'Economic Community of West African States']
belligerents 1: ['National Movement for the Liberation of Azawad']
belligerents 2: ['Al-Qaeda', 'Ansar al-Sharia', 'Islamic State in the Greater Sahara', 'Al-Qaeda in the Islamic Maghreb', "Jama'at Nasr al-Islam wal Muslimin", 'Movement for Oneness and Jihad in West Africa', 'Boko Haram', 'Ansar Dine', 'Al-Mourabitoun', 'Ansaru', 'Macina Liberation Front']

# Get Friend-Enemy Edge List

In [22]:
import itertools


def construct_ally_enemy_pairs(c_e_id, c_id = None, e_id = None):
    
    ally_enemy_pairs = list()

    if c_id != None:
        c_e_id = {k: v for (k,v) in c_e_id.items() if k in c_id}


    for c_id in list(c_e_id.keys()):
        combatants = c_e_id[c_id]
        #n_bell = len(combatants)
        #all_entities = list(itertools.chain(*combatants))

        ## enemies
        for combatant_pair in itertools.combinations(combatants, r=2):
            for enemy_pair in itertools.product(*combatant_pair):
                if enemy_pair[0] < enemy_pair[1]:
                    enemy_pair_sorted = (enemy_pair[0], enemy_pair[1])
                else:
                    enemy_pair_sorted = (enemy_pair[1], enemy_pair[0])
                #ally_enemy_pairs.append((enemy_pair[0], enemy_pair[1], c_id, "enemies"))
                ally_enemy_pairs.append(enemy_pair_sorted)

        for alliance in combatants:

            ## allies
            for friend_pair in itertools.combinations(alliance, r=2):
                if friend_pair[0] < friend_pair[1]:
                    friend_pair_sorted = (friend_pair[0], friend_pair[1])
                else:
                    friend_pair_sorted = (friend_pair[1], friend_pair[0])
                    
                #ally_enemy_pairs.append((friend_pair[0], friend_pair[1], c_id, "allies"))
                ally_enemy_pairs.append(friend_pair_sorted)

    return ally_enemy_pairs


c_e_id = dict(zip(map_df["conflict_id"], map_df["entity_ids"]))
ally_enemy_list = construct_ally_enemy_pairs(c_e_id)
#ally_enemy_df = pd.DataFrame(ally_enemy_list, columns = ['entity_id1', 'entity_id2', 'conflict_id', 'type'])

In [59]:
import pickle
favorite_color = pickle.load(open("/Users/niklasstoehr/Code/wikibell/data/task/network_structure/aggr_edge_list.pkl", "rb" ))

n_enemies, n_allies = 0, 0
for entry in favorite_color:
    if entry[2]["label"] == "enemies":
        n_enemies += 1
    elif entry[2]["label"] == "allies":
        n_allies += 1
    else:
        print(entry)

In [60]:
n_enemies

9458

In [61]:
n_allies

8708

In [15]:
ally_enemy_df["type"].value_counts()

type
allies     21153
enemies    21117
Name: count, dtype: int64

In [27]:
ally_enemy_list = list(set(ally_enemy_list))

In [62]:
len(ally_enemy_list)

18166

In [36]:
len(ally_enemy_df["type"])

42270